*{
  margin: 0;
  padding: 0;
}

/* <-- Landing Page Styles --> */

#landingBody {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 4vh;
  margin: 4vh;
  background-image: url('./images/pexels-anni-roenkae-2832382.jpg');
}
.landingHead {
  text-align: center;
  margin: 4vh;
  padding: 4vh;
}
.button {
  text-align: center;
}
#startBtn {
  font-family: 'Acme', sans-serif;
  width: 15vw;
  height: 15vh;
  font-size: 5vmin;
  background-image: radial-gradient(rgba(255, 0, 0, 0.843),rgb(0, 0, 255));
  color:azure;
  border-radius: 3vmin;
  border: 1vh solid rgba(255, 0, 0, 0.8);
}
#startBtn:hover {
  background-image: radial-gradient(rgb(0, 0, 255),rgba(255, 0, 0, 0.843));
  border: 1vh solid rgba(0,0,255, 0.8);
}
.landingTitle {
  font-family: 'Acme', sans-serif;
  font-size: 15vh;
  color: azure;
}
.gameRules {
  margin: 5vmin;
  padding: 5vmin;
  color:azure;
  background-color: rgba(0, 0, 0, 0.4);
  border: 1vmin solid rgba(0, 0, 0, 0.8);
  border-radius: 3vmin;
  font-family: 'Acme', sans-serif;
}
.landingGameRules {
  text-decoration: underline;
  text-align: center;
  font-size: 5vh;
}
.rules {
  font-size: 3vh;
  margin: 5px;
  padding: 5px;
}

/* <-- Game Page Styles --> */

#gameBody{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2vmin;
  background-color: rgb(36, 30, 73);
}
.gameHead {
  text-align: center;
  text-shadow: 3px 3px red;
  font-family:'Acme',sans-serif;
  color:azure;
  height: 100%;
  width: 30%;
  margin: 0 auto;
  background-color: rgba(30, 16, 125, 0.67);
  border: 1px solid white;
  border-bottom: none;
  font-size: 10vh;
}
.gameBoard {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  border: 2px solid rgb(255, 255, 255);
  background-color: rgb(87, 83, 116);
  align-items: center;
  height: 50vh;
  width: 95vw;
  padding: 5px;
}
.boardBlocks {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40%;
  width: 40%;
  background-color: bisque;
  border: 2px solid rgb(32, 32, 32);
}
.playArea {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%;
}
.redSide {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50%;
  width: 100%;
  
}
.blueSide {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50%;
  width: 100%;
}
.start, .safe {
  display:flex;
  align-items: center;
  justify-content: space-evenly;
  height: 50%;
  width: 95%;
  border: 2px solid blue;
}
#redStart, #blueSafe {
  border: 2px solid red;
} 
.start {
  background-color: black;
}
.safe {
  background-color: green;
}
#redPeg, #bluePeg{
  background-color: red;
  height: 5vh;
  width: 5vh;
  border: 2px solid rgb(138, 138, 138);
  border-radius: 50%;
  text-align: center;
}
#bluePeg {
  background-color: blue;
}
.bottomPanel {
  height: 20vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.announcements {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30vw;
  height: 10vh;
  border: 2px solid white;
  font-family: 'Acme',sans-serif;
  color:azure;
  font-size: 5vmin;
  text-align: center;
  text-shadow: 3px 3px red;
}
.gameBtns {
  font-family: 'Acme', sans-serif;
  font-size: 4vmin;
  height: 10vh;
  width: 10vw;
  border: 1vmin solid rgba(18, 1, 129, 0.8);
  border-radius: 10%;
  color: azure;
  background-image: radial-gradient(rgb(0, 0, 255), rgba(255, 0, 0, 0.843));
}
.gameBtns:hover {
  background-image: radial-gradient(rgba(255, 0, 0, 0.843),rgb(0, 0, 255));
  border: 1vh solid rgba(255, 0, 0, 0.6);
  font-size: 5vmin;
}
nav {
  display: flex;
  justify-content: right;
}
.homeBtn {
  color: white;
  background-color: rgb(166, 166, 166);
}
.dice {
  display: flex;
  align-items: center;
  justify-content: center;
  height:15vh;
  width: 15vh;
  border: 2px solid red;
  font-size: 10vmin;
  font-family: 'Acme', sans-serif;
  color:azure;
}